<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICulcService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51721/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICulcService" contract="ServiceReference1.ICulcService"
                name="BasicHttpBinding_ICulcService" />
        </client>
    </system.serviceModel>
</configuration>
